@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300..700&display=swap");

:root {
  --primary-color: #faf482;
  --main-font-family: "Libre Baskerville";
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  font-family: var(--main-font-family);
  width: 100%;
}

#title {
  font-size: 1.5rem;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

#barrel {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.dot {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.filled {
  background-color: black;
  border: 5px solid black;
}

.empty {
  background-color: var(--primary-color);
}

.loaded {
  background-color: #b30000;
}

#text,
header,
footer {
  font-size: large;
  text-align: center;
}

#text {
  line-height: 2rem;
  padding: 0 2rem;
}

button {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  padding: 5px 25px;
  border-radius: 10px;
  border: 2px solid black;
  background: var(--primary-color);
  box-shadow: 3px 3px black;
  cursor: pointer;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

#button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  box-shadow: none;
  transform: translate(3px, 3px);
}

img {
  width: 18rem;
  height: auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3rem;
  font-size: 15px;
}

blockquote {
  border: dotted;
  margin: 1rem auto;
  width: fit-content;
}

blockquote > p {
  font-size: medium;
  margin: 0 5px;
  font-style: italic;
}

@media screen and (min-height: 1024px) {
  #title {
    font-size: 3rem;
  }
  main {
    margin-top: 3rem;
  }
  img {
    width: 30rem;
  }
  #text {
    font-size: 2rem;
    line-height: 3.5rem;
  }

  button {
    font-size: 3rem;
    box-shadow: 5px 5px black;
  }
  .dot {
    width: 3.5rem;
    height: 3.5rem;
    border: 10px solid black;
  }
  blockquote > p {
    font-size: x-large;
    line-height: 2.4rem;
  }

  footer > p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 390px) {
  main {
    margin-top: 3rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 389px) {
  img {
    width: 15rem;
  }
}
