@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300..700&display=swap");

:root {
  --primary-color: #faf482;
  --main-font-family: "Libre Baskerville";
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  font-family: var(--main-font-family);
  width: 100%;
}

#title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1rem;
  margin-top: 2rem;
}

#barrel {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.dot {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.filled {
  background-color: black;
  border: 5px solid black;
}

.empty {
  background-color: var(--primary-color);
}

.loaded {
  background-color: #b30000;
}

#text,
header,
footer {
  font-size: medium;
  text-align: center;
}

#text {
  line-height: 1.7rem;
  padding: 0 2rem;
}

button {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  padding: 5px 25px;
  border-radius: 10px;
  border: 2px solid black;
  background: var(--primary-color);
  box-shadow: 3px 3px black;
  cursor: pointer;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

#button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  box-shadow: none;
  transform: translate(3px, 3px);
}

img {
  width: 18rem;
  height: auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
}

blockquote {
  border: dotted;
  margin: 1rem auto;
  width: fit-content;
}

blockquote > p {
  font-size: medium;
  margin: 0 5px;
  font-style: italic;
}

.game-over {
  color: #b30000;
  background-color: black;
  text-align: center;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: "Cormorant Garamond";
}

.container-text {
  width: 100%;
}

@media (min-height: 800px) {
  main {
    gap: 3rem;
  }
  button {
    font-size: 2.5rem;
    padding: 5px 20px;
    border: 4px solid black;
    box-shadow: 4px 4px black;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  #title {
    font-size: 2rem;
  }
  img {
    width: 30rem;
  }
  #text {
    font-size: x-large;
    line-height: 2.2rem;
  }
  blockquote > p {
    font-size: large;
  }
  .dot {
    width: 2.5rem;
    height: 2.5rem;
  }
  .filled {
    border: 10px solid black;
  }
}

@media (min-width: 1024px) and (min-height: 1200px) {
  #title {
    font-size: 3rem;
  }
  img {
    width: 40rem;
  }
  #text {
    font-size: xx-large;
    line-height: 2.7rem;
  }
  blockquote > p {
    font-size: x-large;
  }
  .dot {
    width: 2.5rem;
    height: 2.5rem;
  }
  .filled {
    border: 10px solid black;
  }
  .game-over {
    height: 10rem;
    font-size: 5rem;
  }
}
